.skills{
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgb(85, 172, 184);
    /* border: solid; */
    padding: 1em;
    margin: .5em;
    border-radius: 5px;
}

.skills section{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.skills button{
border: none;
 
 padding: 0.7em;
 /* font-size: 18px; */
 border-radius: 5px;
 background: #78d0d3;
 border: 1px solid #e8e8e8;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.skills button:hover {
 border: 1px solid white;
}

.skills button:active {
 box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;

}

.skills-text p{
    margin-left: .7em;
}

